<div class="card">
  <div class="card-header">
    <!-- <span *ngIf="item.state === state.ALIVRER" class="state-alivrer">{{ item.state }}</span>
    <span *ngIf="item.state === state.ENCOURS" class="state-encours">{{ item.state }}</span>
    <span *ngIf="item.state === state.LIVREE" class="state-livree">{{ item.state }}</span> -->
    <span [appState]="item.state">{{ item.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.reference }}</p>
    <button class="btn btn-primary" *ngIf="item.state === state.ALIVRER"
     (click)="changeState(state.ENCOURS)">
      {{ state.ENCOURS }}
    </button>
    <button class="btn btn-primary" *ngIf="item.state === state.ENCOURS"
     (click)="changeState(state.LIVREE)">
      {{ state.LIVREE }}
    </button>
    <button class="btn btn-secondary" [routerLink]="['/items/edit/', item.id]">Edit</button>
  </div>
</div>
